.filmList {
  background-image: url('./hayao-miyazaki-1.jpg');
  height: 28em;
  background-repeat:no-repeat;
  background-position: center;
}

.peopleList {
  background-image: url('./characters.jpg');
  height: 28em;
  background-repeat:no-repeat;
  background-position: center;
}

.backgroundColorFilms {
  background-color: rgb(6, 45, 46);
}

.backgroundColorPeople {
  background-color: rgb(163, 205, 228);
}

.textWhite {
  color: antiquewhite;
}

.textGrey {
  color: rgb(80, 80, 80);
}

.links {
  float: right;
  padding: 1em;
  color:rgb(6, 45, 46);
  font-weight: bold; 
  font-size: 1.2em;
}

.home {
  background-image: url('./SG_logo.png');
  height: 40em;
  background-repeat:no-repeat;
  background-position: center;
}